<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">To Main</button>
    </div>

    <div class="info">
        <strong>Author here</strong>
        <small>12.09.2019</small>
    </div>

    <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat aliquam voluptates, voluptatum dolor earum vero accusamus minima consectetur facere reprehenderit.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat aliquam voluptates, voluptatum dolor earum vero accusamus minima consectetur facere reprehenderit.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat aliquam voluptates, voluptatum dolor earum vero accusamus minima consectetur facere reprehenderit.</p>
    </div>
</div>
