<div *ngIf="form; else loading">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <h1>Edit post</h1>

        <div class="form-control" [ngClass]="{invalid: title.touched && title.invalid}">
            <label for="title">Title</label>
            <input id="title" type="text" formControlName="title">
            <div class="validation" *ngIf="title.touched && title.invalid">
                <small *ngIf="title.errors?.['required']">
                    Field is required
                </small>
            </div>
        </div>

        <div class="form-control">
            <label>Content</label>
            <quill-editor formControlName="text"></quill-editor>
        </div>

        <button type="submit" class="btn btn-block btn-dark" [disabled]="form.invalid || submitted">Update post</button>
    </form>
</div>

<ng-template #loading>
    <p class="text-center">Loading...</p>
</ng-template>
